/* 区域框start*/
.area_box { width:580px; margin:0px auto;border:1px solid #dedede; background-color:#FFF;position:absolute;top:100px; left:100px; z-index:9999;}
.area_box_title { width:560px; height:24px; line-height:24px; margin-top:1px; background-color:#e9f1f4; border-bottom:1px solid #dedede; padding:0px 10px;}
.area_box_title_left { float:left;}
.area_box_title_right { float:right; font-size:20px;}
.area_box_title_right a { color:#666; text-decoration:none;}
.area_box_title_right a:hover { color:#333;}
.area_box_main { width:502px; float:left;}
.area_bg_blue { width:580px; float:left; background-color:#ecf4ff;}
.area_bg_white { width:580px; float:left; background-color:#ffffff;}
.area_before { width:73px; float:left; line-height:35px; height:35px; padding-left:5px;} 
.area_box_main li { width:91px; float:left; height:35px; line-height:35px;}
.area_box_main li input { margin-right:5px; margin-top:8px; margin-left:5px; float:left;}
.area_box_main li span { background:url(../images/sanjiao.png) no-repeat right center; float:left; padding-right:8px; cursor:pointer;}
.area_box_main .this {width:91px; float:left; height:33px; line-height:33px;border:1px solid #ebe4ad; background-color:#fbfcc3; position:relative;}
.area_box_main .area_level { position:absolute; width:225px; border:1px solid #ebe4ad; background-color:#fbfcc3; left:-1px; top:30px; display:none;}
.area_level .close { width:225px; height:24px; float:left; line-height:24px; margin-bottom:10px;}
.area_level .close input { float:right; cursor:pointer;}
.area_level li { width:auto; height:30px; float:left; line-height:30px;}
.area_box_bottom { width:580px; height:30px; line-height:30px; margin-top:10px; float:left; border-top:1px solid #dedede;}
.area_box_bottom input { width:50px; height:24px; float:right; margin-right:10px; margin-top:5px; cursor:pointer;}
.rdinary_ul table {text-align:center;}
.rdinary_ul td { height:24px; line-height:24px;  border-right:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc;}
.body{front-size:11px;}
/* 区域框end*/

/* JS列增加*/
.rdinary_i{
	float:left;
	font-style:normal;
	margin-left:5px;
	margin-right:0px;
}
.rdinary_span{
	float: left;
	display: inline-block;
	width: 165px;
}
