<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 启用支持Annotation注解方式的事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.tomowork.oa">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>


	<bean name="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="hicailiao-1.0" />
		<property name="packagesToScan">
			<list>
				<value>com.tomowork.oa.foundation.domain</value>
				<value>com.tomowork.oa.manage.sys.entity</value>
			</list>
		</property>
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false" />
				<property name="generateDdl" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
				<prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.use_sql_comments">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.generate_statistics">false </prop>
				<prop key="hibernate.id.new_generator_mappings">false</prop>
				<prop key="hibernate.implicit_naming_strategy">legacy-jpa</prop>
				<prop key="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</prop>
			</props>
		</property>
	</bean>
	<!-- 定义了与实体相关的dao -->
	<bean id="genericEntityDao"
		class="com.tomowork.oa.base.GenericEntityDao"
		scope="prototype"
		lazy-init="true">
	</bean>

	<!-- 文件管理器 -->
	<bean id="remoteFSManager" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl" value="${fsManager.url}" />
		<property name="serviceInterface" value="com.tomowork.oa.assets.RemoteFSManager" />
		<property name="lookupStubOnStartup" value="false" />
		<property name="refreshStubOnConnectFailure" value="true" />
	</bean>
	<!-- 图片管理器 -->
	<bean id="imageManager" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl" value="${imageManager.url}" />
		<property name="serviceInterface" value="com.tomowork.oa.assets.ImageManager" />
		<property name="lookupStubOnStartup" value="false" />
		<property name="refreshStubOnConnectFailure" value="true" />
	</bean>
	<!-- 邮件发送 -->
	<bean id="mailMessageManager" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl" value="${mailMessageManager.url}" />
		<property name="serviceInterface" value="com.tomowork.oa.message.MailMessageManager" />
		<property name="lookupStubOnStartup" value="false" />
		<property name="refreshStubOnConnectFailure" value="true" />
	</bean>
	<!-- 短信发送 -->
	<bean id="smsMessageManager" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl" value="${smsMessageManager.url}" />
		<property name="serviceInterface" value="com.tomowork.oa.message.SmsMessageManager" />
		<property name="lookupStubOnStartup" value="false" />
		<property name="refreshStubOnConnectFailure" value="true" />
	</bean>

	<!-- 缓存配置 -->
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache-local.xml" />
	</bean>
	<!-- 配置 JSR303 Bean Validator 定义 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<!-- 处理异常拦截-->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.apache.shiro.authz.UnauthorizedException">redirect:/403.do</prop>
			</props>
		</property>
	</bean>

	<bean id="frontUriFactory"
	    class="com.tomowork.oa.util.BaseURIFactoryBean">
		<property name="uri" value="${front.url}" />
	</bean>
	<bean id="imageUriFactory"
	      class="com.tomowork.oa.util.HashURIFactoryBean">
		<property name="uris" value="${images.url}" />
	</bean>

	<bean id="assetsUriFactory"
	      class="com.tomowork.oa.util.BaseURIFactoryBean">
		<property name="uri" value="${assets.url}" />
	</bean>

	<beans profile="testing">
		<context:property-placeholder location="classpath:config-test.properties" ignore-unresolvable="true" />

		<jee:jndi-lookup id="dataSource" jndi-name="jdbc/ShopDB" expected-type="javax.sql.DataSource" />
	</beans>

	<beans profile="dev">
		<context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true" />
		<context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true" />

		<!-- 数据源配置, 数据库连接池 -->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
			<!-- 数据源驱动类可不写，Druid默认会自动根据URL识别DriverClass -->
			<property name="driverClassName" value="${jdbc.driverClassName}" />

			<!-- 基本属性 url、user、password -->
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />

			<!-- 配置初始化大小、最小、最大 -->
			<property name="initialSize" value="${jdbc.initialSize}" />
			<property name="minIdle" value="${jdbc.minIdle}" />
			<property name="maxActive" value="${jdbc.maxActive}" />

			<!-- 配置获取连接等待超时的时间 -->
			<property name="maxWait" value="60000" />

			<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
			<property name="timeBetweenEvictionRunsMillis" value="60000" />

			<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
			<property name="minEvictableIdleTimeMillis" value="300000" />

			<property name="validationQuery" value="${jdbc.testSql}" />
			<property name="testWhileIdle" value="true" />
			<property name="testOnBorrow" value="false" />
			<property name="testOnReturn" value="false" />

			<!-- 打开PSCache，并且指定每个连接上PSCache的大小（Oracle使用）
			<property name="poolPreparedStatements" value="true" />
			<property name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->

			<!-- 关闭自动提交 -->
			<property name="defaultAutoCommit" value="false" />

			<!-- 配置监控统计拦截的filters -->
			<property name="filters" value="stat" />
		</bean>
	</beans>
</beans>
