.chat_body{position: relative;width: 1094px;height: 600px;margin: 120px auto 120px;border: 1px solid #ccc;font-family: "Microsoft YaHei";}
/*聊天窗口上面*/
.chat_top{float: left;width: 844px;height: 70px;background: #f8f8f8;line-height: 70px;padding: 0 14px 0 24px;}
.chat_top>dl{overflow: hidden;}
.chat_top dt,.chat_top dd{float: left}
.chat_top dt{font-size: 18px;color: #131313;}
.chat_top dt>span{padding: 0 10px;background: #ababab;font-size: 12px;margin-left: 7px;border-radius: 5px;color: #fff}
.chat_top>dl img{vertical-align: middle;width: 17px;height: 17px}
.chat_top1{float: right !important;margin-top: -16px;}
.chat_top dt>span.online{background: #1dc904;}
/*聊天窗口下面*/
.chat_content_left,.chat_content_center,.chat_content_right{float: left}
/*聊天窗口左边*/
.chat_content_left{height: 600px;background: #f4f4f4;}
.chat_left_top{background: #0f3675;padding: 14px 10px 14px 14px}
.chat_left_top img{width: 41px;height: 43px;vertical-align: middle}
.chat_left_top>dl{overflow: hidden;height: 43px;line-height: 40px;cursor: pointer}
.chat_left_top dt{float: left}
.chat_left_top dd{float:left;font-size: 14px;margin-left: 12px;color: #fff}
.chat_left_top>p{background: #ebf3ff;border-radius: 2px;padding: 2px 0 2px 10px;margin-top: 12px;}
.chat_left_top>p>img{width: 18px;height: 17px;}
.chat_left_top>p>input{width: 154px;border: 0;background: #ebf3ff;font-size: 13px;color: #4e4d4d;font-family: "宋体", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif}
.chat_left_content{background: #f4f4f4;height: 494px;overflow-y: auto;}
.chat_left_content>dl{overflow: hidden;padding: 15px 7px 15px 10px;cursor: pointer;position: relative}
.chat_left_content>dl dt{float: left}
.chat_left_content>dl img{width: 39px;height: 39px;vertical-align: middle}
.chat_left_content>dl dd{margin-left: 10px;float: left;color: #211f1f;font-size: 14px;font-family: "宋体", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif}
.chat_left_content>dl dd strong{font-weight: normal;width: 120px;text-overflow: ellipsis;white-space: nowrap;display: inline-block;overflow: hidden;}
.chat_left_content>dl dd>p{position: relative}
.chat_left_content>dl dd span{position: absolute;right: -44px;font-size: 12px;color: #6b6b6b}
.chat_left_content>dl dd>h1{font-weight: normal;color: #666666;font-size: 13px;margin-top: 7px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 99px;}
.chat_left_content>dl>p{position: absolute;border-top: 2px solid #fafafa;border-bottom: 1px solid #dedede;width: 193px;bottom: 0;}
.chat_left_content dl.tabon{background: #dedede}
.chat_left_content dl.onmsg{background: #ff9900}
.chat_left_content dl.tabon>p{display: none}
/*聊天窗口中间*/
.chat_content_center{width: 700px;height: 530px;border-right: 1px solid #ccc;}
.chat_center1{overflow: hidden;height: 38px;line-height: 38px;margin: 15px 234px;padding-left: 7px;background: #f5f9ff;border-radius: 5px}
.chat_center1>dt,.chat_center1>dd{float: left;font-size: 12px;color: #0f3675}
.chat_center1>dd>span{margin:0 3px;}
.chat_center1>dt>img{vertical-align: middle;margin-right: 14px}
#chat_center1_span{text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 90px;display: inline-block;}
/*聊天窗口中间 对话*/
#box{ width:200px; height:200px; background:orange; position:absolute; left:0;top:0;}
.f-cb{ zoom:1;}
.f-cb:after,.f-cb:before{clear:both; content:""; display:table; height:0;}
ul{ list-style:none;}
.m{height: 345px;overflow-y: auto;padding: 0 15px;border-bottom: 1px solid #ccc;font-size: 12px;}
.m1 { position:relative;margin-bottom: 18px;}
.m1:after,.m1:before { clear:both; content:""; display:table; height:0;}
.m1 dt ul{overflow: hidden;margin-left: 42px}
.m1 dt li{float: left;font-size: 13px;color: #757474}
.m1 dt li>span{margin-left: 20px;color: #acacac}
.m1 dt a>img{width: 32px;height: 32px}
.m1 dd{ max-width:445px;border-radius:3px; padding:10px;box-sizing:border-box;position:relative;}
.m1.vhe dd{background: #f8f8f8;word-wrap: break-word;}
.m1.me dd{background: #f7ffff;word-wrap: break-word;}
.m1 dd:before{ position:absolute;content:""; border-width:10px; border-style:solid;}
.m1.vhe dd:before{left:-20px;border-color:transparent #f8f8f8  transparent transparent;}
.m1.me dd:before{right:-20px;border-color:transparent  transparent transparent  #f7ffff;}
.m1.me dt {float:right;margin-left:20px;margin-left: 20px;position: absolute;right: 31px;}
.m1.me dd {float:right;margin-top:20px;right: 39px;}
.m1.me dt a{float:right;margin-bottom: 15px;position: relative;}
.me.m1 dt a img{position: absolute; right: -34px;}
.m1.me dt span,.m1.vhe dt span{margin-left:8px;color: #acacac;}

.m1.vhe dt a{position:absolute;}
.m1.vhe dd{margin-left:40px;margin-top:7px;float: left;}
a:link,a:visited {color: black;text-decoration: none;}
a:hover,a:active {text-decoration: underline;}
.m02{width:318px;border:1px solid #999;margin-left:20px;}
.m2 li{clear:both;display:table;padding-left:20px;}
.m2{width:168px;}
.m2 li a{float:left;max-width:168px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.m2 li span{float:left;padding-left:10px;margin-right:-100px;}
.vhe dd a{display: block;color: #0235b5;text-decoration: underline}
/*聊天窗口右边*/
.edit{ background:#fff; margin-top:1px; margin-bottom:1px; line-height:42px; padding-left:20px; height:30px}
.edit>img{margin-right: 15px}
.chat_text textarea{width: 668px;height:50px;border:none; resize:none; outline:none; color:#666; line-height:18px; overflow:auto;font-size:12px;margin-bottom: 1px;padding: 0 16px;}
.close {border-radius: 4px;width: 70px;height: 27px;margin-left:520px;font-size:14px;background: #fff;border: 1px solid #dcdcdc;color: #423b3b;}
.send {cursor: default;border-radius: 4px;width: 88px;height: 27px;font-size:14px;margin-left:600px; margin-top:-28px; line-height:27px;background: #fff;border: 1px solid #dcdcdc;color: #423b3b;}
.send span{ border-right:1px solid #dcdcdc;width: 58px;display: inline-block;text-align: center;}
.send div{display: inline-block;width: 24px;text-align: center;}
.send img{width: 15px;height: 15px;vertical-align: middle;}
.send-method-box{ width:160px;  display:none; position:relative;left: 638px;top: 3px;background: #fff;border: 1px solid #dcdcdc;color: #423b3b;line-height:8px;border-radius:2px; box-shadow:2px 2px 6px #666}
.send-method-text{ padding-left:15px; line-height:26px;font-size: 13px;}
.send-method-text:hover{cursor:pointer;}
.send-method-text a,.send-method-text a:hover{color: #423b3b;}
/*选项卡开始*/
.menu1{line-height:40px;font-size:14px;background-color:#eff3f6;font-weight:bold;}
.menu1 li{display:block;float: left;width:93px;text-align: center;cursor:pointer;background: #eff3f6;border-bottom:1px solid #ddd;}
.menu1 li.hover{background: #fff;border-bottom:1px solid #fff;}
#main1 ul{display: none;}
#main1 ul.block{display: block;}
.cart {width: 116px; height: 35px; margin-top:20px; margin-left:16px; font:14px 'microsoft yahei'; font-weight:bold; color:#fff;background: #0f3675;border: 0;}
ul{margin:0 auto;padding:0;list-style:none;}
.nav_title_all{text-align:center;min-height:500px;width: 180px;background-color: #fff;padding-bottom:20px; float:right;font-size:14px}
.menu0{line-height:40px;font-size:14px;background-color:#ddd;font-weight:bold;}
.menu0 li{ display:block; float: left; width:90px; text-align: center; cursor:pointer; background: #f2f2f2;}
.menu0 li.hover{ background: #fff; border-bottom:1px solid #fff;height:38px; border-right:none; border-left:none}
#main0 ul{display: none; }
#main0 ul.block{display: block;}
.nav_title{font-size:14px; text-align:left;line-height:18px;padding: 5px 15px 20px 18px;}
.nav_title img{ margin-top:5px; border:1px solid #E8E6E6;}
.nav_title span{ font:12px simsun; float:left; line-height:20px;color: #666666;}
.nav_title1{margin-top:70px; width:167px; height:20px}
.nav_title2{word-break:break-all; color:#e4393c}
.nav_title3{width:60px; text-align:right}
.nav_title4{padding-top:32px; padding-left:8px}
.nav_title5{width:147px; text-align:right}
.nav_content{font-size:14px;text-align:left;padding-left:45px;line-height:24px;}
.order_detail{ width:87px}
.goods_detail{ margin-left:12px; margin-top:30px !important; margin-bottom:10px; border:none !important; }

/*聊天窗口加载*/
.chat_body .chat_shade{position: absolute;top: 0;left: 0;right: 0;bottom: 0;opacity: 0.4;width: 100%;filter: Alpha(opacity=40);background: #e3e3e3;z-index: 99999;}
.chat_body .loading_words{position: absolute;top: 42%;left: 50%;width:184px;height: 82px;margin-top:-41px;margin-left:-92px;z-index: 999999;}
