.goods_category{width:1200px; margin:0 auto;padding: 30px 0;overflow:hidden;}
.goods_top{padding: 12px 72px;overflow: hidden;background: #f6f6f6;margin-bottom: 34px}
.goods_top>a{margin-left: 66px;float: left;}
.goods_top dl img{width: 53px;height: 53px}
.goods_top dl>dd{font-size: 14px;margin-top: 10px}
.goods_top dl{color: #aaa6a6;}
.goods_top dl:hover{color: #494949}
.goods_top>a:first-child{margin-left: 0}
.goods_title>p{height: 33px;margin-bottom: 14px}
.goods_title>p>img{width: 33px;height: 33px;vertical-align: middle}
.goods_title>p>span{margin-left: 6px;font-size: 16px;color: #494949;vertical-align: middle;font-weight: bold;}
.goods_ul{overflow: hidden}
.goods_ul>li{float: left;margin-left: 25px}
.goods_div>li{float: left;margin-left: 25px}
.goods_ul a{position: relative}
.goods_ul a>img{position: absolute;bottom: 0;left: 29%;opacity: 0.8;filter:Alpha(opacity=60);background: #fff;width: 117px;height: 40px;}
.goods_ul span>img{width: 275px;height: 155px}
.goods_list{overflow: hidden;margin: 46px auto;}
.goods_list>dl{width: 50%;float: left;overflow: hidden;padding-bottom: 18px;}
.goods_list dt{float: left;color: #666666;font-weight: bold;width: 22%;text-align: right;}
.goods_list dt span{font-weight: normal;margin: 0 13px 0 10px}
.goods_list dd{font-size: 12px;width: 77%;float: right;}
.goods_list dd>a{margin:0 20px 12px 0;float: left;white-space: nowrap;}
.goods_list dd>span{border-bottom: 1px dashed #a7a7a7;display: inline-block;margin-top: 6px;width: 462px;}
.goods_float{display: none;position: fixed;top: 220px;left: 222px;}
.goods_float a{position: relative}
.goods_float a>img{width: 33px;height: 33px}
.goods_float a>span{position: absolute;top: -14px;left: 28px;width: 78px;height: 22px;line-height: 22px;text-align:center;color: #fff;font-size: 12px;display: inline-block;}

@media screen and (max-width: 1600px) and (min-width: 1440px){
    .goods_float{
        left: 0 !important;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1280px){
    .goods_list dd>span{
        display: none !important;
    }
    .goods_float{
        left: 0 !important;
    }
}
@media screen and (max-width: 1280px) {
    .goods_float{
        display: none !important;
    }
}

