.help-wrap{ display:block; overflow:hidden;}
.help-wrap .help-tit { display:block; overflow:hidden; height:50px; line-height:50px; margin-top:20px;}
.help-wrap .help-tit a , .help-wrap .help-tit span{ display:inline-block; float:left; margin-right:10px; font-weight:normal;}
.help-main { overflow:hidden; display:block;}
.help-main .help-left { float:left; width:250px; margin-bottom: 170px;}
.help-main .help-right { float:left; width:927px; margin-bottom:30px;margin-left: 23px;}


/**/
#help-nav{border:1px solid #ccc;padding:5px;width:100%;background:#fff}
#help-nav h2{ display:block;font-size:14px;font-weight:normal;height:60px;line-height:60px;text-indent:25px;cursor:pointer}
#help-nav div{display:none}
#help-nav div h3{line-height:60px; height:60px;background:url(images/slot-down.gif) 160px 6px no-repeat;text-indent:10px;cursor:pointer;font-size:14px;font-weight:normal;}
#help-nav div ul{background:#f3f3f3;display:none}
#help-nav div ul li{line-height:60px; height:60px;}
#help-nav div ul li a{display:block;line-height:40px; height:40px;color:#333;font-size:12px;text-decoration:none;text-indent:20px;}
#help-nav div ul li a:hover{background:#A6CB81;color:#fff;}


.ce , .ce-other {display:block;border:1px #dedede solid;padding-bottom: 50px;}
.ce-other { margin:20px 0px 35px 0px;}
.ce-other>li>a:hover { background:#E6212A; }
.more {margin-left:36px;}
.ce>li>a , .ce-other>li>a {background: #f3f3f3;font-weight: bold;font-size:18px; padding-left:20px; height:40px; line-height:40px; color:#202020;display:block;cursor:pointer;border-bottom: 1px solid #ef8200;}
.ce li .dqian {background:none}
.er li a {display:block;color:#646464;font-size:12px; overflow:hidden;}
.er li a>.e_li_change{background: url("../images/user-icon.png") no-repeat -306px -480px;display: inline-block;width: 12px;height: 12px;}
.er li a>.e_li_reduce{background: url("../images/user-icon.png") no-repeat -306px -510px;display: inline-block;width: 12px;height: 12px;}
.er li a.sen_x b { background: url(../images/nav-icon.png) 0px -455px;}
.er .e_li>a {height: 35px;line-height: 35px;padding-left: 20px;font-size: 14px;font-weight: bold;}
.er .e_li>a>p{display: inline-block}
.thr li {margin-bottom:1px;position:relative; height:22px; line-height:22px; }
.thr li a {padding-left:30px; overflow:hidden;}
.er .e_li .thr li a {cursor:pointer;}
.er .e_li .thr li a>.thr_add_radio{border-radius: 50%;width: 5px;height: 5px;display: inline-block;border-color: #ef8200;background: #ef8200;margin: 0 0 1px 0;}
.er .e_li .thr li a.thr_orange{color: #ef8200;font-weight: bold;padding-left: 27px;}
.er .e_li .thr li a>span{margin-right: 8px}
.er .e_li .thr li a>b{font-weight: normal}
.ce-other li { overflow:hidden;}
.ce-other li a b { float:left; display:block; width:21px; height:21px; margin-left:-30px; margin-top:20px;}
.ce-other li a b.c-1,
.ce-other li a b.c-2,
.ce-other li a b.c-3,
.ce-other li a b.c-4 { background:url(../images/help-icon.png) no-repeat;}
.ce-other li a b.c-1 { background-position:-7px -25px;}
.ce-other li a b.c-2 { background-position:-7px -95px;}
.ce-other li a b.c-3 { background-position:-4px -166px;}
.ce-other li a b.c-4 { background-position:-4px -235px;}

ul.help-tab {display:block;  border-bottom:2px #D9D9DA solid; height:40px;  }
ul.help-tab li { float:left; width:11%; display:block; font-size:14px; font-weight:700;  }
ul.help-tab li span { display:block; height:40px; line-height:40px; text-align:center;}
ul.help-tab li div { display:block; height:40px;}
ul.help-tab li.tabon { border-bottom:2px #1D1F88 solid;}

ul.list-a { padding:55px 35px;}
ul.list-a,ul.list-a li { display:block; overflow:hidden;}
ul.list-a li ,.list-b ul li { padding:10px 0px;}
ul.list-a li a ,.list-b ul li a { cursor:pointer;}
ul.list-a li i ,.list-b ul li i { width:10px; height:10px; float:left; background:url(../images/help-icon.png) bottom left no-repeat; margin-top:2px;}
.ov { border:1px #eee solid; border-top:0; overflow:hidden; min-height:710px;}
.list-con { padding:0 30px;}
.list-page { overflow:hidden; display:block; margin:35px 0px;}
.list-page a { display:inline-block; height:30px; line-height:30px; color:#B8BABC;}
.list-page .l-p-l { float:left;}
.list-page .l-p-r { float:right;}

.list-b { border:1px #ededed solid; display:block; overflow:hidden;}
.list-b dl { display:block; overflow:hidden;}
.list-b dl dt { background:#ededed; height:40px; line-height:40px; font-size:14px;border-bottom: 1px solid #ef8200;color: #202020;font-weight: bold;padding-left: 12px}
.list-b dl dd { border-top:1px #EDEDED solid; padding-bottom:40px;}
.list-b dl dd { display:block; overflow:hidden; padding-left:30px; pading-right:30px;}
.tit-h1 { font-size:18px; color:#1C1E8A; margin-top:55px;}
.tit-h2 { font-size:18px; color:#1C1E8A; margin-top:55px; border-bottom:1px #E0E0E0 solid;  padding-bottom:25px;color:#565656;}
.list-b ul { overflow:hidden; display:block; margin-top:40px;}
.list-table table ,.list-table table th ,.list-table table td {  border-collapse : collapse; border-spacing: 0; border:1px #ccc solid;}
.list-table th { background:#A2A3BC; text-align:center; color:#fff; font-size:14px;}
.list-table th ,.list-table td {text-align:center; padding:10px 5px;}
.list-table { margin-bottom:30px;}