/*首页开始*/
.hb-main2{width:1200px;margin:0 auto;}
.hb_main_all{background: #f2f2f2;padding-top: 38px;}
.hb-main {width:1200px;margin:0 auto;top: -80px}
.hb-logo-list_all{overflow: hidden}
ul.hb-logo-list2 {overflow:hidden;width: 800px;float: left}
ul.hb-logo-list2 li {float:left;border: 1px solid #f2f2f2;height: 193px;width: 398px;box-sizing: border-box;}
ul.hb-logo-list2 a { display:block; text-align:center;}
ul.hb-logo-list2 a:hover,.hb-a2-pro2-left>div:hover,.hb-a2-pro2-right>a:hover,.hb-bottom-hover{opacity: 0.8;filter:Alpha(opacity=80);}
ul.hb-logo-list2 a img { width: 399px;height: 193px; display:block;}
ul.hb-logo-list3{overflow: hidden;}
ul.hb-logo-list3 li{float:left;border: 1px solid #f2f2f2;height: 64px;box-sizing: border-box;width: 131px;}
ul.hb-logo-list3 a img{width: 131px;height: 63px;}
.hb-ad-list2{overflow: hidden;margin-top: 34px}
.hb-ad-list2>a{float: left;margin-left: 6px;display: inline-block;height: 120px;}
.hb-ad-list2>a:first-child{margin-left: 0}
.hb-ad-list2>a>img{width: 396px;height: 120px}
.hb-wrap-a2{overflow: hidden;color: #272727;font-family: "Microsoft YaHei";margin-top: 34px;}
.hb-a2-product1{overflow: hidden;height: 22px;line-height: 22px;}
.hb-a2-product1>h1{float: left;font-size: 20px;font-weight: normal;}
.hb-a2-product1>.hb-wrap-a2-ul{float: right;overflow: hidden}
.hb-a2-product1>.hb-wrap-a2-ul>li{float: left;font-size: 14px;margin-left: 20px}
.hb-a2-product1>.hb-wrap-a2-ul>li>a{color: #272727;font-family: "Microsoft YaHei"}
.hb-a2-product1>.hb-wrap-a2-ul>li>a:hover{color: #e00308}
.hb-a2-product2{overflow: hidden;border-top: 1px solid #1b1b1b;margin-top: 4px;}
.hb-a2-pro2-left{float: left;width: 200px;height: 442px;border-right: 2px solid #f2f2f2;box-sizing: border-box;}
.hb-a2-pro2-left img{width: 200px;height: 442px}
.hb-a2-pro2-left div{float: none !important;}
.hb-a2-pro2-middle{float: left;overflow: hidden;width: 667px;height: 442px;}
.hb-a2-pro2-middle>a{display: block;float: left;margin-right: 4px;margin-bottom: 2px;}
.hb-a2-pro2-middle>a img{width: 44px;height: 44px;}
.hb-a2-pro2-middle>a>dl{background: #fff;position: relative;width: 218px;height: 220px;}
.hb-a2-pro2-middle>a .hb--middle_lucency{background: url("../images/home_pro_lucency.png");}
.hb-a2-pro2-middle>a .hb--middle_lucency_dark{background: url("../images/home_pro_lucency_dark.png");}
.hb-a2-pro2-middle>a dt{width: 218px; height: 220px;text-align: center;}
.hb-a2-pro2-middle>a dd{font-size: 14px;color: #282828;padding: 8px 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;position: absolute;bottom: 0;height: 39px;width: 200px;}
.hb-a2-pro2-middle>a dd>p{color: #fd2b2b;font-size: 16px}
.hb-a2-pro2-right{float: left;overflow: hidden;width: 331px;}
.hb-a2-pro2-right>a{float: left;display: inline-block;height: 146px;border-top: 2px solid #f2f2f2;width: 331px;text-align: center;}
.hb-a2-pro2-right>a:first-child{border-top: 0}
.hb-a2-pro2-right>a>img{width: 44px;height: 44px;}
.hb-wrap-bottom{overflow: hidden;color: #272727;font-family: "Microsoft YaHei";margin-top: 34px;padding-bottom: 48px; width: 100%; height: 648px;}
.hb-bottom-top{overflow: hidden;height: 22px;line-height: 22px;border-bottom: 2px solid #e00308;padding-bottom: 4px;}
.hb-bottom-top>h1{float: left;font-size: 20px;font-weight: normal;}
.hb-bottom-tab {float: right}
.hb-bottom-tab span.tabon{background: url("../images/home_radio_dark.png") no-repeat}
.hb-bottom-tab span {text-align:center;cursor:pointer;display:block;float:left;background: url("../images/home_radio.png") no-repeat;width: 15px;height: 15px;}
.hb-bottom-content{overflow: hidden;}
.hb-bottom-content>a{float: left;margin-right: 17px;display: inline-block;width: 226px;background: #fff;padding-bottom: 10px;margin-top: 10px}
.hb-bottom-content img{width: 44px;height: 44px;}
.hb-bottom-content dd{padding: 0 6px 0 10px;font-size: 12px;overflow: hidden;word-break: break-all;width: 210px;}
.hb-bottom-content-dd2{height: 32px}
.hb-bottom-content dd>p{color: #fd2b2b;float: left;font-size: 14px}
.hb-bottom-content dd>div{float: right;font-size: 11.5px;color: #8b8a8a}
.hb-bottom-content dt{width: 226px;height: 226px;text-align: center;}
.hb-bottom-content .hb-bottom-content-dd{margin-top: 9px}
.home_bottom_all{background: #eaeaea;padding: 12px 0 46px}
.home_bottom{width: 1200px;margin: 0 auto;overflow: hidden;}
.home_bottom>li{width: 25%;float: left;font-family: "Microsoft YaHei";text-align: center;}
.home_bottom>li>a{display: block;font-size: 14px;color: #808080;margin-bottom: 10px}
.home_bottom div{font-size: 18px;margin-bottom: 34px}
.home_bottom div>img{width: 44px;height: 44px;vertical-align: middle;margin-right: 10px}
.home_bottom h1{font-size: 16px;color: #565656;font-family: "黑体";margin-bottom: 10px}
/*首页结束*/